[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/arturoTellez/DS_R_Python/blob/main/notebooks/Manipulación_de_datos.ipynb)

In [ ]:
import pandas as pd

### Cargar módulos

In [ ]:
diag = lambda x: sum(x)
diag([1,3,4,5])

13

In [ ]:
import pandas as pd
from pandas import read_csv, read_excel, read_html, read_json
from pandas import read_csv as leer_csv
from numpy import *

In [ ]:
import numpy as np

In [ ]:
dir(np)

['ALLOW_THREADS',
 'AxisError',
 'BUFSIZE',
 'CLIP',
 'ComplexWarning',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'MachAr',
 'ModuleDeprecationWarning',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'Tester',
 'TooHardError',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'VisibleDeprecationWarning',
 'WRAP',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__dir__',
 '__doc__',
 '__file__',
 '__getattr__',
 '__git_revision__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_distributor_init',
 '_globals',
 '_mat',
 '_pytesttester',
 'abs',
 'absolute',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'alen',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'asscalar',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool',
 'bool8',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes0',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex',
 'complex128',
 'complex256',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float',
 'float128',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'fv',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int',
 'int0',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'ipmt',
 'irr',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kernel_version',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loads',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'long',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mafromtxt',
 'mask_indices',
 'mat',
 'math',
 'matmul',
 'matrix',
 'matrixlib',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mirr',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndfromtxt',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'nper',
 'npv',
 'numarray',
 'number',
 'obj2sctype',
 'object',
 'object0',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'os',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'pmt',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'ppmt',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'pv',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'rate',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypeNA',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str',
 'str0',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'sys',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typeDict',
 'typeNA',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint0',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'use_hugepage',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'void0',
 'vsplit',
 'vstack',
 'warnings',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [ ]:
help(diag)

Help on function diag in module numpy:

diag(v, k=0)
    Extract a diagonal or construct a diagonal array.

    See the more detailed documentation for ``numpy.diagonal`` if you use this
    function to extract a diagonal and wish to write to the resulting array;
    whether it returns a copy or a view depends on what version of numpy you
    are using.

    Parameters
    ----------
    v : array_like
        If `v` is a 2-D array, return a copy of its `k`-th diagonal.
        If `v` is a 1-D array, return a 2-D array with `v` on the `k`-th
        diagonal.
    k : int, optional
        Diagonal in question. The default is 0. Use `k>0` for diagonals
        above the main diagonal, and `k<0` for diagonals below the main
        diagonal.

    Returns
    -------
    out : ndarray
        The extracted diagonal or constructed diagonal array.

    See Also
    --------
    diagonal : Return specified diagonals.
    diagflat : Create a 2-D array with the flattened input as a diagonal.
    trace : Sum along diagonals.
    triu : Upper triangle of an array.
    tril : Lower triangle of an array.

    Examples
    --------
    >>> x = np.arange(9).reshape((3,3))
    >>> x
    array([[0, 1, 2],
           [3, 4, 5],
           [6, 7, 8]])

    >>> np.diag(x)
    array([0, 4, 8])
    >>> np.diag(x, k=1)
    array([1, 5])
    >>> np.diag(x, k=-1)
    array([3, 7])

    >>> np.diag(np.diag(x))
    array([[0, 0, 0],
           [0, 4, 0],
           [0, 0, 8]])

In [ ]:
diag([1,3,4,5]) #La función diag cambio

array([[1, 0, 0, 0],
       [0, 3, 0, 0],
       [0, 0, 4, 0],
       [0, 0, 0, 5]])

In [ ]:
pd.DataFrame({"Columna":[1, 2]})

   Columna
0        1
1        2

In [ ]:
import math

In [ ]:
### Aguas con cargar los módulos
sum([12,13])
print(f"El tipo de objeto sum es: {type(sum)}")
from numpy import sum #Cuidado, sum builtin se borro
print(f"El tipo de objeto sum es: {type(sum)}")

El tipo de objeto sum es: <class 'function'>
El tipo de objeto sum es: <class 'function'>

In [ ]:
#https://archive.ics.uci.edu/ml/datasets/Iris

In [ ]:
from numpy import diag as d #Forma de evitar la sobreescritura de mi función diag

In [ ]:
leer_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [ ]:
df = read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", header=None)
df

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [ ]:
[funcion for funcion in dir(pd) if "read_" in funcion]
#[variable__que_se_itera for variable__que_se_itera in objeto_iterable if condicion]
#[x for x in lista_iterable if x>5]

['read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table']

In [ ]:
[x for x in [1,2,3,6,7,8] if x>5]

[6, 7, 8]

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
class Persona():
    def __init__(self, nombre):
        self.nombre = nombre
    def estudiar(self):
        print("Estoy estudiando")
arturo = Persona("Arturo")
arturo.nombre
arturo.estudiar()

Estoy estudiando

In [ ]:
df.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [ ]:
nuevos_nombres = {
   0 : "sepal_length",
   1 : "sepal_width",   
   2 : "petal_length",
   3 : "petal_width",
   4 : "class" 
}
nuevos_nombres

{0: 'sepal_length',
 1: 'sepal_width',
 2: 'petal_length',
 3: 'petal_width',
 4: 'class'}

In [ ]:
### comentario adicional
x = "Hola Mundo"
print(x.upper())
x

HOLA MUNDO

'Hola Mundo'

In [ ]:
df.rename(columns = nuevos_nombres, inplace = True)
# df = df.rename(columns = nuevos_nombres) ### Equivalente a la linea anterior

In [ ]:
df

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
df.shape

(150, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
### métodos por renglon columna

In [ ]:
df.sum(axis = 0) # suma por columna (axis = 0 es default)

sepal_length                                                876.5
sepal_width                                                 458.1
petal_length                                                563.8
petal_width                                                 179.8
class           Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object

In [ ]:
df.sum(axis = 1) # suma por renglon

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
       ...
145    17.2
146    15.7
147    16.7
148    17.3
149    15.8
Length: 150, dtype: float64

In [ ]:
def func_tmp(x,y):
    print(x)
          
func_tmp(12,13)

12

In [ ]:
func_tmp = lambda x, y:print(x)
func_tmp(y = 12, x=13)

13

In [ ]:
df.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [ ]:
df.mean(axis=1)

0      2.550
1      2.375
2      2.350
3      2.350
4      2.550
       ...
145    4.300
146    3.925
147    4.175
148    4.325
149    3.950
Length: 150, dtype: float64

In [ ]:
df.quantile(q =[.25, .5, .75])

      sepal_length  sepal_width  petal_length  petal_width
0.25           5.1          2.8          1.60          0.3
0.50           5.8          3.0          4.35          1.3
0.75           6.4          3.3          5.10          1.8

In [ ]:
# .min
# .max
# .std
# .qua

### Selección de columnas

In [ ]:
### Completitud
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [ ]:
df.isnull().sum() / df.shape[0]

sepal_length    0.0
sepal_width     0.0
petal_length    0.0
petal_width     0.0
class           0.0
dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
df["sepal_length"] #Seleccióón de una columna y regresando una serie

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [ ]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object')

In [ ]:
df[["sepal_length"]]

     sepal_length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

In [ ]:
df[["sepal_length", "petal_length", "sepal_width"]]

     sepal_length  petal_length  sepal_width
0             5.1           1.4          3.5
1             4.9           1.4          3.0
2             4.7           1.3          3.2
3             4.6           1.5          3.1
4             5.0           1.4          3.6
..            ...           ...          ...
145           6.7           5.2          3.0
146           6.3           5.0          2.5
147           6.5           5.2          3.0
148           6.2           5.4          3.4
149           5.9           5.1          3.0

[150 rows x 3 columns]

In [ ]:
df.loc[145:148,"sepal_length"] #Nombre del indice y de la columna

145    6.7
146    6.3
147    6.5
148    6.2
Name: sepal_length, dtype: float64

In [ ]:
df.loc[145:148,["sepal_length", "petal_length"]] #Nombre del indice y de la columna

     sepal_length  petal_length
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4

In [ ]:
df.sample(df.shape[0]) #genera una muestra de tus datos

     sepal_length  sepal_width  petal_length  petal_width            class
62            6.0          2.2           4.0          1.0  Iris-versicolor
110           6.5          3.2           5.1          2.0   Iris-virginica
85            6.0          3.4           4.5          1.6  Iris-versicolor
134           6.1          2.6           5.6          1.4   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
..            ...          ...           ...          ...              ...
72            6.3          2.5           4.9          1.5  Iris-versicolor
106           4.9          2.5           4.5          1.7   Iris-virginica
39            5.1          3.4           1.5          0.2      Iris-setosa
104           6.5          3.0           5.8          2.2   Iris-virginica
28            5.2          3.4           1.4          0.2      Iris-setosa

[150 rows x 5 columns]

In [ ]:
df.sample(df.shape[0]).loc[145:148,["sepal_length", "petal_length"]]

     sepal_length  petal_length
145           6.7           5.2
108           6.7           5.8
112           6.8           5.5
113           5.7           5.0
125           7.2           6.0
..            ...           ...
21            5.1           1.5
49            5.0           1.4
110           6.5           5.1
57            4.9           3.3
148           6.2           5.4

[89 rows x 2 columns]

In [ ]:
df.index = df.index[::-1]

In [ ]:
df.index

RangeIndex(start=149, stop=-1, step=-1)

In [ ]:
df.iloc[0:6, 0:2]

     sepal_length  sepal_width
149           5.1          3.5
148           4.9          3.0
147           4.7          3.2
146           4.6          3.1
145           5.0          3.6
144           5.4          3.9

In [ ]:
df.iloc[145:148, 1:3]

   sepal_width  petal_length
4          3.0           5.2
3          2.5           5.0
2          3.0           5.2

### Groupby

In [ ]:
df["grupo"] = 1

In [ ]:
df.loc[75:149, "grupo"] = 2

In [ ]:
df.groupby("class").mean()

                 sepal_length  sepal_width  petal_length  petal_width  grupo
class
Iris-setosa             5.006        3.418         1.464        0.244    1.0
Iris-versicolor         5.936        2.770         4.260        1.326    1.5
Iris-virginica          6.588        2.974         5.552        2.026    2.0

In [ ]:
type(df.groupby("class"))

pandas.core.groupby.generic.DataFrameGroupBy

In [ ]:
list(df.groupby(["grupo", "class"]))

[((1, 'Iris-setosa'),
      sepal_length  sepal_width  petal_length  petal_width        class  grupo
  0            5.1          3.5           1.4          0.2  Iris-setosa      1
  1            4.9          3.0           1.4          0.2  Iris-setosa      1
  2            4.7          3.2           1.3          0.2  Iris-setosa      1
  3            4.6          3.1           1.5          0.2  Iris-setosa      1
  4            5.0          3.6           1.4          0.2  Iris-setosa      1
  5            5.4          3.9           1.7          0.4  Iris-setosa      1
  6            4.6          3.4           1.4          0.3  Iris-setosa      1
  7            5.0          3.4           1.5          0.2  Iris-setosa      1
  8            4.4          2.9           1.4          0.2  Iris-setosa      1
  9            4.9          3.1           1.5          0.1  Iris-setosa      1
  10           5.4          3.7           1.5          0.2  Iris-setosa      1
  11           4.8          3.4           1.6          0.2  Iris-setosa      1
  12           4.8          3.0           1.4          0.1  Iris-setosa      1
  13           4.3          3.0           1.1          0.1  Iris-setosa      1
  14           5.8          4.0           1.2          0.2  Iris-setosa      1
  15           5.7          4.4           1.5          0.4  Iris-setosa      1
  16           5.4          3.9           1.3          0.4  Iris-setosa      1
  17           5.1          3.5           1.4          0.3  Iris-setosa      1
  18           5.7          3.8           1.7          0.3  Iris-setosa      1
  19           5.1          3.8           1.5          0.3  Iris-setosa      1
  20           5.4          3.4           1.7          0.2  Iris-setosa      1
  21           5.1          3.7           1.5          0.4  Iris-setosa      1
  22           4.6          3.6           1.0          0.2  Iris-setosa      1
  23           5.1          3.3           1.7          0.5  Iris-setosa      1
  24           4.8          3.4           1.9          0.2  Iris-setosa      1
  25           5.0          3.0           1.6          0.2  Iris-setosa      1
  26           5.0          3.4           1.6          0.4  Iris-setosa      1
  27           5.2          3.5           1.5          0.2  Iris-setosa      1
  28           5.2          3.4           1.4          0.2  Iris-setosa      1
  29           4.7          3.2           1.6          0.2  Iris-setosa      1
  30           4.8          3.1           1.6          0.2  Iris-setosa      1
  31           5.4          3.4           1.5          0.4  Iris-setosa      1
  32           5.2          4.1           1.5          0.1  Iris-setosa      1
  33           5.5          4.2           1.4          0.2  Iris-setosa      1
  34           4.9          3.1           1.5          0.1  Iris-setosa      1
  35           5.0          3.2           1.2          0.2  Iris-setosa      1
  36           5.5          3.5           1.3          0.2  Iris-setosa      1
  37           4.9          3.1           1.5          0.1  Iris-setosa      1
  38           4.4          3.0           1.3          0.2  Iris-setosa      1
  39           5.1          3.4           1.5          0.2  Iris-setosa      1
  40           5.0          3.5           1.3          0.3  Iris-setosa      1
  41           4.5          2.3           1.3          0.3  Iris-setosa      1
  42           4.4          3.2           1.3          0.2  Iris-setosa      1
  43           5.0          3.5           1.6          0.6  Iris-setosa      1
  44           5.1          3.8           1.9          0.4  Iris-setosa      1
  45           4.8          3.0           1.4          0.3  Iris-setosa      1
  46           5.1          3.8           1.6          0.2  Iris-setosa      1
  47           4.6          3.2           1.4          0.2  Iris-setosa      1
  48           5.3          3.7           1.5          0.2  Iris-setosa      1
  49           5.0          3.3           1.4          0.2  Iris-setosa      1),
 ((1, 'Iris-versicolor'),
      sepal_length  sepal_width  ...            class  grupo
  50           7.0          3.2  ...  Iris-versicolor      1
  51           6.4          3.2  ...  Iris-versicolor      1
  52           6.9          3.1  ...  Iris-versicolor      1
  53           5.5          2.3  ...  Iris-versicolor      1
  54           6.5          2.8  ...  Iris-versicolor      1
  55           5.7          2.8  ...  Iris-versicolor      1
  56           6.3          3.3  ...  Iris-versicolor      1
  57           4.9          2.4  ...  Iris-versicolor      1
  58           6.6          2.9  ...  Iris-versicolor      1
  59           5.2          2.7  ...  Iris-versicolor      1
  60           5.0          2.0  ...  Iris-versicolor      1
  61           5.9          3.0  ...  Iris-versicolor      1
  62           6.0          2.2  ...  Iris-versicolor      1
  63           6.1          2.9  ...  Iris-versicolor      1
  64           5.6          2.9  ...  Iris-versicolor      1
  65           6.7          3.1  ...  Iris-versicolor      1
  66           5.6          3.0  ...  Iris-versicolor      1
  67           5.8          2.7  ...  Iris-versicolor      1
  68           6.2          2.2  ...  Iris-versicolor      1
  69           5.6          2.5  ...  Iris-versicolor      1
  70           5.9          3.2  ...  Iris-versicolor      1
  71           6.1          2.8  ...  Iris-versicolor      1
  72           6.3          2.5  ...  Iris-versicolor      1
  73           6.1          2.8  ...  Iris-versicolor      1
  74           6.4          2.9  ...  Iris-versicolor      1

  [25 rows x 6 columns]),
 ((2, 'Iris-versicolor'),
      sepal_length  sepal_width  ...            class  grupo
  75           6.6          3.0  ...  Iris-versicolor      2
  76           6.8          2.8  ...  Iris-versicolor      2
  77           6.7          3.0  ...  Iris-versicolor      2
  78           6.0          2.9  ...  Iris-versicolor      2
  79           5.7          2.6  ...  Iris-versicolor      2
  80           5.5          2.4  ...  Iris-versicolor      2
  81           5.5          2.4  ...  Iris-versicolor      2
  82           5.8          2.7  ...  Iris-versicolor      2
  83           6.0          2.7  ...  Iris-versicolor      2
  84           5.4          3.0  ...  Iris-versicolor      2
  85           6.0          3.4  ...  Iris-versicolor      2
  86           6.7          3.1  ...  Iris-versicolor      2
  87           6.3          2.3  ...  Iris-versicolor      2
  88           5.6          3.0  ...  Iris-versicolor      2
  89           5.5          2.5  ...  Iris-versicolor      2
  90           5.5          2.6  ...  Iris-versicolor      2
  91           6.1          3.0  ...  Iris-versicolor      2
  92           5.8          2.6  ...  Iris-versicolor      2
  93           5.0          2.3  ...  Iris-versicolor      2
  94           5.6          2.7  ...  Iris-versicolor      2
  95           5.7          3.0  ...  Iris-versicolor      2
  96           5.7          2.9  ...  Iris-versicolor      2
  97           6.2          2.9  ...  Iris-versicolor      2
  98           5.1          2.5  ...  Iris-versicolor      2
  99           5.7          2.8  ...  Iris-versicolor      2

  [25 rows x 6 columns]),
 ((2, 'Iris-virginica'),
       sepal_length  sepal_width  ...           class  grupo
  100           6.3          3.3  ...  Iris-virginica      2
  101           5.8          2.7  ...  Iris-virginica      2
  102           7.1          3.0  ...  Iris-virginica      2
  103           6.3          2.9  ...  Iris-virginica      2
  104           6.5          3.0  ...  Iris-virginica      2
  105           7.6          3.0  ...  Iris-virginica      2
  106           4.9          2.5  ...  Iris-virginica      2
  107           7.3          2.9  ...  Iris-virginica      2
  108           6.7          2.5  ...  Iris-virginica      2
  109           7.2          3.6  ...  Iris-virginica      2
  110           6.5          3.2  ...  Iris-virginica      2
  111           6.4          2.7  ...  Iris-virginica      2
  112           6.8          3.0  ...  Iris-virginica      2
  113           5.7          2.5  ...  Iris-virginica      2
  114           5.8          2.8  ...  Iris-virginica      2
  115           6.4          3.2  ...  Iris-virginica      2
  116           6.5          3.0  ...  Iris-virginica      2
  117           7.7          3.8  ...  Iris-virginica      2
  118           7.7          2.6  ...  Iris-virginica      2
  119           6.0          2.2  ...  Iris-virginica      2
  120           6.9          3.2  ...  Iris-virginica      2
  121           5.6          2.8  ...  Iris-virginica      2
  122           7.7          2.8  ...  Iris-virginica      2
  123           6.3          2.7  ...  Iris-virginica      2
  124           6.7          3.3  ...  Iris-virginica      2
  125           7.2          3.2  ...  Iris-virginica      2
  126           6.2          2.8  ...  Iris-virginica      2
  127           6.1          3.0  ...  Iris-virginica      2
  128           6.4          2.8  ...  Iris-virginica      2
  129           7.2          3.0  ...  Iris-virginica      2
  130           7.4          2.8  ...  Iris-virginica      2
  131           7.9          3.8  ...  Iris-virginica      2
  132           6.4          2.8  ...  Iris-virginica      2
  133           6.3          2.8  ...  Iris-virginica      2
  134           6.1          2.6  ...  Iris-virginica      2
  135           7.7          3.0  ...  Iris-virginica      2
  136           6.3          3.4  ...  Iris-virginica      2
  137           6.4          3.1  ...  Iris-virginica      2
  138           6.0          3.0  ...  Iris-virginica      2
  139           6.9          3.1  ...  Iris-virginica      2
  140           6.7          3.1  ...  Iris-virginica      2
  141           6.9          3.1  ...  Iris-virginica      2
  142           5.8          2.7  ...  Iris-virginica      2
  143           6.8          3.2  ...  Iris-virginica      2
  144           6.7          3.3  ...  Iris-virginica      2
  145           6.7          3.0  ...  Iris-virginica      2
  146           6.3          2.5  ...  Iris-virginica      2
  147           6.5          3.0  ...  Iris-virginica      2
  148           6.2          3.4  ...  Iris-virginica      2
  149           5.9          3.0  ...  Iris-virginica      2

  [50 rows x 6 columns])]

In [ ]:
temp = (
 ("grupo1",[3,2,1]),
 ("grupo2",[3,2,1]),
 ("grupo3",[3,2,1]),
 ("grupo4",[3,2,1])

)
for llave, valor in temp:
    print(llave)
    print(valor)

grupo1
[3, 2, 1]
grupo2
[3, 2, 1]
grupo3
[3, 2, 1]
grupo4
[3, 2, 1]

In [ ]:
x, y = ( 1,3)

In [ ]:
for clase, df_temp in df.groupby("class"):
    print(clase)
    print(df_temp.mean())

Iris-setosa
sepal_length    5.006
sepal_width     3.418
petal_length    1.464
petal_width     0.244
grupo           1.000
dtype: float64
Iris-versicolor
sepal_length    5.936
sepal_width     2.770
petal_length    4.260
petal_width     1.326
grupo           1.500
dtype: float64
Iris-virginica
sepal_length    6.588
sepal_width     2.974
petal_length    5.552
petal_width     2.026
grupo           2.000
dtype: float64

In [ ]:
for clase, df_temp in df.groupby("class"):
    print(clase)

Iris-setosa
Iris-versicolor
Iris-virginica